/* Inter CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* Custom CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 1rem 1rem;
  align-items: center;
  background: linear-gradient(
    120deg,
    rgb(30, 62, 60),
    rgb(30, 62, 60),
    rgb(100, 90, 90)
  );
  top: 0;
  left: 0;
  height: 3.5rem;
  width: 100%;
  color: white;
  font-weight: 800;
  font-style: normal;
}

nav a {
  text-decoration: none;
  margin-left: 1rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  transition: 0.3s ease-out;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > ul > li {
  padding-right: 15px;
  list-style: none;
}

main {
  background: linear-gradient(
    to right,
    rgb(5, 103, 107),
    rgba(5, 104, 107, 0.632),
    rgba(5, 104, 107, 0.332),
    #ffffff00
  );
  height: 100vh;
  padding: 5rem 3rem;
  display: flex;
}
