/* Inter CSS */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* Custom CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  background-image: url("./pedro-menezes-Gisi_G8CXWI-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 1rem 1rem;
  align-items: center;
  background: linear-gradient(
    120deg,
    rgb(15, 31, 30),
    rgb(34, 72, 69),
    rgb(109, 145, 143)
  );
  top: 0;
  left: 0;
  height: 3.5rem;
  width: 100%;
  color: white;
  font-weight: 800;
  font-style: normal;
}

nav a {
  text-decoration: none;
  margin-left: 1rem;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  transition: 0.3s ease-out;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav > ul > li {
  padding-right: 15px;
  list-style: none;
}

main {
  background: linear-gradient(
    to right,
    rgb(5, 103, 107),
    rgba(5, 104, 107, 0.632),
    rgba(5, 104, 107, 0.332),
    #ffffff00
  );
  height: 100vh;
  padding: 5rem 3rem;
  display: flex;
  color: seashell;
}

aside {
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-color: rgba(00, 00, 00, 0.7);
}

.vLine {
  width: 2px;
  height: 18rem;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 5rem;
}

.output {
  /* display: none; */
  width: 100vw;
}

.members {
    background-color: #333333aa;
    font-size: larger;
    /* width: 100vw; */
}

.hero {
  font-size: xx-large;
  padding-left: 2vw;
  max-width: 50vw;
}

.hero > * {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.hero > h1 {
  font-weight: 800;
}

footer {
  color: whitesmoke;
  /* background-color: slategray; */
  background: linear-gradient(
    to right,
    rgb(5, 103, 107),
    rgba(5, 104, 107, 0.632),
    rgba(5, 104, 107, 0.332),
    #ffffff00
  );
  font-size: small;
  font-weight: 100;
}

footer > a {
  color: cyan;
  text-decoration-line: none;
}

.searchArea {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 15px;
  border-color: #ffffff00;
  border-width: 0;
  min-width: 20vw;
  min-height: 3vh;
  background-color: aliceblue;
}

.searchArea > * {
  border: none;
  border-color: transparent;
  background: transparent !important;
  outline: none;
}

#searchBar {
  border: none;
  border-color: transparent;
  background: transparent !important;
  outline-style: none;
}

.contact_us_form {
    margin-top: 15vh;
    padding-top: 2vh;
    padding-left: 2vw;
    background-color: #333333aa;
    border-color: #ffffff00;
    border-radius: 10px;
    width: 48vw;
    max-height: 50vh;
}

.uform_input {
    margin-top: 1vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    border-color: #dcdcdcaa;
    background-color: #ffffff00;
    color: aliceblue;
    line-height: 1.2rem;
    width: 93%;
}

.uform_tarea {
    height: 15vh;
}

.uform_input_btn {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    width: 93%;
    border-radius: 10px;
    border-color: #ffffff00;
    background-color: #008b8bcc;
    color: #f0f8ffcc;
    font-weight: 600;
}